.blind-title{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}
.blind-text{
    font-family: 'Kalam', cursive;
    font-size: 35px;
}
.blind-text2{
    font-family: 'Kalam', cursive;
    font-size: 28px;
}
